<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kiri Avatar Profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="../static/js/javascript.js"></script>

    </head>
    <body>
        <header class="h_color" id="head">
            <div class="text-left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="logo">
                                <h2>KIRI AVATAR PROFILE</h2>
                                  <p>Discover the world of Avatar through Kiri's profile!</p> 
                                </div>
                                <div class="nav_button_right">
                                <a  class="btn btn-primary" href="#popup1">Add your Data</a>
                                <input type="button" onclick="printDiv()" class="btn btn-warning" value="Print Profile">
								<a class="btn btn-info" href="resume_template">More Avatar Profiles</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </header>
        <section id="resume_1">
            <div class="container">
                <div class="resume_1">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <h1 id="uname">Kiri</h1>
                                <p style="text-align: justify" id="uabout">Kiri est un personnage de la série Avatar.</p>
                            </div>
                        </div>
                        <!-- ... -->
                    </div>
                </div>
            </div>
        </section>
        <div id="popup1" class="overlay">
            <div class="popup">
                <div class="container">
                    <h4>KIRI AVATAR PROFILE</h4>   
                    <a class="close" href="#">×</a>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Choose your own style to make Kiri's profile</p>
                        </div>
                        <div class="col-md-12">
                            <h5>PERSONAL INFORMATION</h5>
                        </div>
                    </div>
                    <!-- ... -->
                </div>
            </div>
        </div>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <h5>ACHIEVEMENTS</h5>
                </div>
                <!-- ... -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>PERSONAL SKILLS</h5>
                </div>
                <!-- ... -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>PERSONAL DETAILS</h5>
                </div>
                <!-- ... -->
            </div>
        </form>
    </div>
    <script src="../static/js/jquery-2.1.3.js"></script>
    <script src="../static/js/my.js"></script>
</body>
</html>
