<!DOCTYPE html>
<html>

<head>
    <title>CV de Kiri</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #3399FF;
        }

        h2 {
            color: #33CC99;
        }
    </style>
</head>

<body>
    <h1>Kiri te Suli Kìreysì'ite</h1>
    <img src="lien_vers_image_de_kiri" alt="Kiri Avatar" width="200">
    <h2>Informations Personnelles</h2>
    <p>Âge: 14 ans</p>
    <p>Naissance: 2155 ou 2156</p>
    <p>Résidence: Awa'atlu, Pandora</p>
    <p>Clan: Clan Metkayina, Clan Omatikaya (anciennement)</p>
    <p>Occupation: Réfugiée, apprentie plongeuse libre</p>
    <p>Taille: 7'7\" (232cm)</p>
    <h2>Famille</h2>
    <p>Mère biologique: Grace Augustine (décédée)</p>
    <p>Père adoptif: Jake Sully</p>
    <p>Mère adoptive: Neytiri</p>
    <h2>Carrière</h2>
    <p>Kiri est l'un des personnages principaux dans Avatar: The Way of Water. Sa conception est entourée de mystère.
        Elle est différente de tout Na'vi ou avatar que les Omatikaya ont jamais rencontré auparavant. Depuis son plus
        jeune âge, elle a eu une connexion étonnamment forte à Eywa, encore plus que celle d'un tsahìk.</p>
    <h2>Compétences</h2>
    <ul>
        <li>Connexion forte à Eywa</li>
        <li>Capacité à naviguer entre les mondes Na'vi et humain</li>
        <li>Capacité à communiquer efficacement avec les autres</li>
    </ul>
</body>

</html>